
/* === General === */

body {
	background-color: black;
	font-family: 'Trebuchet MS',sans-serif;
}
#fullscreen {
	display: table;
	table-layout: fixed;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%; height: 100%;
}

#views {
	display: table-cell;
	vertical-align: top;
	width: 100%; height: 100%;
}

.view {
	display: none;
}
.view.active {
	display: block;
	width: 100%; height: 100%;
	background-color: white;
}

.border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* === Sidebar === */

#sidebar {
	display: none;
	vertical-align: top;
	width: 0%; height: 100%;
	background-color: gray;
}
.sidebar-ui {
	/* border-box */
	height: 100%;
	border-right: 1px solid black;
	padding: 7px;
}
.sidebar-box {
	border: 2px solid black;
	height: 300px;
	border-radius: 4px;
	margin-bottom: 7px;
	position: relative;
}
.sidebar-title {
	/* border-box */
	height: 22px;
	padding: 1px;
	border-bottom: 1px solid black;
	background-color: blue;
}
.sidebar-content {
	/* border-box */
	position: absolute;
	bottom: 0;
	top: 22px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.chat {
	padding: 2px;
	font-size: 85%;
}
.chat-line {
	word-wrap: break-word;
}
.chat-author {
	font-weight: bold;
}

.debug-holder {
	/* border-box */
	height: 100%;
	padding-bottom: 22px;
	position: relative;
}
.debug-cont {
	/* border-box */
	height: 100%;
	overflow: auto;
	font-size: 70%;
}
.debug-row {
	white-space: nowrap;
	overflow: hidden;
}
.debug-row.expand {
	white-space: normal;
	word-wrap: break-word;
}
.debug-ev {
	font-weight: bold;
}
.debug-filter {
	/* border-box */
	width: 100%;
	position: absolute;
	height: 22px;
}


/* === Error view === */

#error-holder {
	position: absolute;
	width: 100%;
	top: 100px;
	text-align: center;
}

#error-holder > h1 {
	color: #FEA700;
}


/* === Login view === */

#loginview {
	background-color: gray;
}

#loginview > .midbox {
	border: 1px solid black;
	background-color: #cccccc;
	margin: 0 auto;
	width: 300px;
	position: relative;
	top: 200px;
	text-align: center;
	padding: 1px;
}

#loginview #loadingstatus {
	margin-top: 1px;
}
#loginview #loadingstatus span {
	position: relative;
	top: -2px;
	left: 3px;
}

#loginview label.row {
	display: table-row;
}
#loginview label.row input {
	display: table-cell;
	margin: 2px;
}
#loginview label.row span {
	display: table-cell;
}


/* === Commands box === */

#commands {
	/* border-box */
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 4px;
	height: 40%;
	width: 30%;
	overflow: auto;
	border: 2px solid black;
	border-radius: 4px 0 0 0;
	background-color: lightgray;
}

#commands > h2 {
	margin: 4px 1px 6px;
	font-size: 130%;
}

#commands > div > .key {
	font-weight: bold;
}


/* === Small screen sizes === */

@media (max-width:500px), (max-height: 400px) {
	/* TODO: Put something here? */
}
